# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# uv / virtual env
.venv/
venv/

# --------------------
# Environment files
# --------------------
.env
.env.*

# --------------------
# Node / Frontend
# --------------------
node_modules/
.next/
dist/

# --------------------
# OS
# --------------------
.DS_Store
Thumbs.db

# --------------------
# DB (local only)
# --------------------
*.db
